{% extends 'layout.html' %}

{% block title %}My Account{% endblock %}

{% block content %}
<div class="content">
    <h2>My Account</h2>
    <p>Welcome back, {{ username }}! <br>
    <p>Here are some links for you:</p>
    {% if role == 'customer' %}
    <ul>
        <li><a href="/profile">Manage My Profile</a></li>
        <li><a href="/dashboard">View Available Cars</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    {% endif %}
    {% if role == 'staff' %}    
    <ul>
        <li><a href="/profile">Manage My Profile</a></li>
        <li><a href="/account_management">Manage Accounts</a></li>
        <li><a href="/dashboard">Manage Cars</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    {% endif %}
    {% if role == 'admin' %}
    <ul>
        <li><a href="/profile">Manage My Profile</a></li>
        <li><a href="/account_management">Manage Accounts</a></li>
        <li><a href="/dashboard">Manage Cars</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    {% endif %}
</div>
{% endblock %}
