<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Car Rental System</h1>
                <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('profile')}}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('dashboard') }}"><i class="fas fa-cogs"></i>Dashboard</a>
			{% if 'role' in session and session['role'] == 'admin' %}
				<a href="{{ url_for('account_management') }}"><i class="fas fa-users-cog"></i>Account Management</a>
			{% endif %}
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>	

			
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
	</body>
</html>
